@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  border-style: none;
}

html {
  font-size: 15px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}

button {
  font-size: 1.2rem;
  border-radius: 5px;
}

li {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
button {
  font-family: "Indie Flower", cursive;
}

.hero {
  width: 100%;
  background-color: black;
  color: #c2dbba;
}
.hero .container {
  position: relative;
  padding: 0 200px;
}
.hero .container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(194, 219, 186, 0.3);
}
.hero .container header .logo {
  width: 100px;
  height: 100px;
}
.hero .container header .hamburger {
  display: none;
}
.hero .container header nav {
  display: block;
}
.hero .container header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 0;
}
.hero .container header nav ul li a {
  color: #c2dbba;
  text-decoration: none;
}
.hero .container header nav ul li a:active, .hero .container header nav ul li a:visited {
  color: #c2dbba;
}
.hero .container header .shop {
  display: flex;
  gap: 15px;
}
.hero .container header .shop .shopping-cart {
  position: relative;
}
.hero .container header .shop .shopping-cart .item-count {
  position: absolute;
  color: black;
  border-radius: 50%;
  background-color: #054A29;
  color: #c2dbba;
  text-align: center;
  padding: 5px;
  top: -20px;
  right: -15px;
  min-width: 30px;
}
.hero .container header .shop .shopping-cart .item-count.hide {
  display: none;
}
.hero .container .cart-container {
  width: 400px;
  height: 600px;
  background-color: #c2dbba;
  position: absolute;
  top: 105px;
  right: 50px;
  z-index: 1;
}
.hero .container .cart-container.hide {
  display: none;
}
.hero .container .cart-container .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #054A29;
  box-shadow: #054A29 0 5px 15px;
}
.hero .container .cart-container .cart-content {
  color: #054A29;
}
.hero .container .cart-container .cart-content ul {
  list-style: none;
  padding: 0 15px;
}
.hero .container .cart-container .cart-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.hero .container .cart-container .cart-content ul li img {
  width: 50px;
  height: 50px;
}
.hero .container .cart-container .cart-content ul li button {
  background-color: #c2dbba;
  color: #054A29;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid #054A29;
  width: 100px;
  height: 30px;
}
.hero .container .cart-container .total-flex {
  display: flex;
  justify-content: space-between;
  color: #054A29;
  padding: 0 15px;
}
.hero .container .cart-container .checkout {
  background-color: #054A29;
  color: #c2dbba;
  height: 50px;
  width: 100%;
  border-style: none;
  box-shadow: #054A29 0 5px 15px;
  cursor: pointer;
  font-size: 1.5rem;
}
.hero h2 {
  color: #c2dbba;
  text-align: center;
}

.hero-product-details {
  width: 100%;
  padding-top: 60px;
  background-color: #c2dbba;
}
.hero-product-details .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  color: #054A29;
}
.hero-product-details .product-details img {
  width: 540px;
  height: 560px;
  border-radius: 20px;
}
.hero-product-details .product-details .details {
  width: 445px;
  height: 410px;
}
.hero-product-details .product-details .details p {
  margin: 60px 0;
}
.hero-product-details .product-details .details button {
  width: 180px;
  height: 45px;
  margin-top: 15px;
  background-color: #054A29;
  color: #c2dbba;
  font-size: 1.2rem;
  margin: 30px 0;
}
.hero-product-details #gallery {
  padding: 60px 200px;
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.hero-product-details #gallery img {
  width: 450px;
  height: 295px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition: all 500ms;
  overflow: hidden;
}
.hero-product-details #gallery img.tall {
  width: 650px;
  height: 605px;
}
.hero-product-details #gallery img:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-10px) scale(1.1);
}
.hero-product-details #gallery .tall {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
}

.shop-description {
  background-color: #c2dbba;
  padding: 70px 200px;
  display: flex;
  color: #054A29;
  align-items: center;
}
.shop-description .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.shop-description img {
  border-radius: 20px;
  width: 500px;
}

footer {
  width: 100%;
  background-color: #054A29;
  height: 365px;
  padding: 0 200px;
  color: #c2dbba;
}
footer .nav-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .nav-footer .logo {
  width: 100px;
  height: 100px;
}
footer .nav-footer nav {
  display: block;
}
footer .nav-footer nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
footer .nav-footer nav ul li a {
  color: #c2dbba;
  text-decoration: none;
}
footer .nav-footer nav ul li a:active, footer .nav-footer nav ul li a:visited {
  color: #c2dbba;
}
footer .final-description {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 15px 0;
}
footer .final-description p {
  width: 560px;
  text-align: left;
}
footer .final-description .social {
  display: flex;
  gap: 15px;
}/*# sourceMappingURL=product-desktop.css.map */