//color scheme 1
$green6:#054A29;
$green5: #235D3A;
$green4:  #397D54;
$green3: #73C088;
$green2: #A8E0B7;
$green1: #C8EAD1;

//color scheme 2
$outer-space-crayola: #283D3Aff;
$msu-green: #2B4A40ff;
$tea-green: #C2DBBAff;
$fern-green: #577845ff;
$msu-green-2: #284539ff;