* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  border-style: none;
}

html {
  font-size: 15px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1rem;
}

.hero {
  border: 1px solid black;
  width: 100%;
  height: 729px;
  background-color: black;
  background-image: url(/images/hero\ image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto 600px;
  padding-left: 0px;
  background-position-x: 0%;
  background-position-y: 100%;
  color: #c2dbba;
}
.hero .container {
  position: relative;
  padding: 0 200px;
}
.hero .container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(194, 219, 186, 0.3);
}
.hero .container header .logo {
  width: 100px;
  height: 100px;
}
.hero .container header .hamburger {
  display: none;
}
.hero .container header nav {
  display: block;
}
.hero .container header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 0;
}
.hero .container header nav ul li a {
  color: #c2dbba;
  text-decoration: none;
}
.hero .container header nav ul li a:active, .hero .container header nav ul li a:visited {
  color: #c2dbba;
}
.hero .container header .shop {
  display: flex;
  gap: 15px;
}
.hero .container header .shop .shopping-cart {
  position: relative;
}
.hero .container header .shop .shopping-cart .item-count {
  position: absolute;
  color: black;
  border-radius: 50%;
  background-color: #054A29;
  color: #c2dbba;
  text-align: center;
  padding: 5px;
  top: -20px;
  right: -15px;
  min-width: 30px;
}
.hero .container header .shop .shopping-cart .item-count.hide {
  display: none;
}
.hero .container .text {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  transform: translateX(527px) translateY(152px);
  text-align: right;
  align-items: flex-end;
}
.hero .container .text button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-color: #c2dbba;
  cursor: pointer;
  border-style: none;
  color: #054A29;
}
.hero .container .cart-container {
  width: 400px;
  height: 600px;
  background-color: #c2dbba;
  position: absolute;
  top: 105px;
  right: 50px;
  z-index: 1;
}
.hero .container .cart-container.hide {
  display: none;
}
.hero .container .cart-container .cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #054A29;
  box-shadow: #054A29 0 5px 15px;
}
.hero .container .cart-container .cart-content {
  color: #054A29;
}
.hero .container .cart-container .cart-content ul {
  list-style: none;
  padding: 0 15px;
}
.hero .container .cart-container .cart-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.hero .container .cart-container .cart-content ul li img {
  width: 50px;
  height: 50px;
}
.hero .container .cart-container .cart-content ul li button {
  background-color: #c2dbba;
  color: #054A29;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid #054A29;
  width: 100px;
  height: 30px;
}
.hero .container .cart-container .total-flex {
  display: flex;
  justify-content: space-between;
  color: #054A29;
  padding: 0 15px;
}
.hero .container .cart-container .checkout {
  background-color: #054A29;
  color: #c2dbba;
  height: 50px;
  width: 100%;
  border-style: none;
  box-shadow: #054A29 0 5px 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

.hero-categories {
  width: 100%;
  padding: 70px 200px;
  background-color: #c2dbba;
}
.hero-categories .categories {
  display: flex;
  justify-content: space-between;
}
.hero-categories .categories .category {
  position: relative;
  width: 340px;
  height: 190px;
  background-color: #397D54;
  border-radius: 20px;
  text-align: center;
}
.hero-categories .categories .category img {
  position: absolute;
  left: 25%;
  top: -70px;
  height: auto;
  width: 185px;
}
.hero-categories .categories .category h4 {
  padding-top: 120px;
  color: #054A29;
}

.products {
  width: 100%;
  background-color: #c2dbba;
  padding: 70px 200px;
}
.products .zzplant {
  display: flex;
  justify-content: space-between;
  background-color: #054A29;
  height: 560px;
  padding: 60px 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.products .zzplant img {
  width: 500px;
  height: auto;
}
.products .zzplant .zzplant-description {
  text-align: center;
  align-content: center;
  color: #73C088;
}
.products .zzplant .zzplant-description button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-color: #c2dbba;
  cursor: pointer;
  border-style: none;
  color: #054A29;
}
.products .snake-plant {
  background-image: url("/images/test.jpg");
  background-size: cover;
  background-position-y: 100%;
  height: 340px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  color: #054A29;
  margin-bottom: 30px;
}
.products .snake-plant button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-color: #c2dbba;
  cursor: pointer;
  border-style: none;
  color: #054A29;
}
.products .pothos {
  height: 250px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #c2dbba;
}
.products .pothos .pothos-background {
  background-image: url("/images/pothos-background.jpg");
  background-size: cover;
  border-radius: 20px;
  width: 49%;
}
.products .pothos .pothos-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 49%;
  color: #73C088;
  background-color: #397D54;
  border-radius: 20px;
  padding: 30px;
}
.products .pothos button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-color: #c2dbba;
  cursor: pointer;
  border-style: none;
  color: #054A29;
}

.shop-description {
  background-color: #c2dbba;
  padding: 70px 200px;
  display: flex;
  color: #054A29;
  align-items: center;
}
.shop-description .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.shop-description img {
  border-radius: 20px;
  width: 500px;
}

footer {
  width: 100%;
  background-color: #054A29;
  height: 365px;
  padding: 0 200px;
  color: #c2dbba;
}
footer .nav-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .nav-footer .logo {
  width: 100px;
  height: 100px;
}
footer .nav-footer nav {
  display: block;
}
footer .nav-footer nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
footer .final-description {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 60px 0;
}
footer .final-description p {
  width: 560px;
  text-align: left;
}
footer .final-description .social {
  display: flex;
  gap: 15px;
}/*# sourceMappingURL=desktop.css.map */