@import "base";
@import "colours";
@import "typography";
@import "spacings";



.hero {
    border: 1px solid black;
    width: 100%;
    height: 729px;
    background-color: black;
    background-image: url(/images/hero\ image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 600px;
    padding-left: 0px;
    background-position-x: 0%;
    background-position-y: 100%;
    color: $tea-green;

    .container {
        position: relative;
        padding: 0 200px;



        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(194, 219, 186, 0.3);

            .logo {
                width: 100px;
                height: 100px;
            }

            .hamburger {
                display: none;
            }

            nav {
                display: block;

                ul {
                    list-style: none;
                    display: flex;
                    gap: $mid;
                    justify-content: space-between;
                    padding: 0;
                    li {
                        a {
                            color: $tea-green;
                            text-decoration: none;

                            &:active,
                            &:visited {
                                color:$tea-green
                            }
                        }

                    }
                    
                }
            }
            .shop {
                display: flex;
                gap: 15px;
            }

        }

        .text {
            // width: 300px;
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 400px;
            // position: absolute;
            // right: 100px;
            // top: 300px;
            transform: translateX(527px) translateY(152px);
            text-align: right;
            align-items: flex-end;
            

            button {
                width: 150px;
                height: 50px;
                margin-top: 30px;
                background-color: $tea-green;

            }

        }
    }


}

.hero-categories {
    width: 100%;
    padding: 70px 200px;

    background-color: $tea-green;

    .categories {
        display: flex;
        justify-content: space-between;


        .category {
            position: relative;
            width: 340px;
            height: 190px;
            background-color: $green4;
            border-radius: 20px;
            text-align: center;

            img {
                position: absolute;
                left: 25%;
                top: -70px;
                height: auto;

                width: 185px;

            }

            h4 {
                padding-top: $xxl;
            }
        }

    }
}

.products {
    width: 100%;
    background-color: $tea-green;
    padding: 70px 200px;


    .zzplant {
        display: flex;
        justify-content: space-between;
        background-color: $green6;
        height: 560px;
        padding: $xl $mid;
        border-radius: 20px;
        margin-bottom: $mid;

        img {
            width: 500px;
            height: auto;
        }

        .zzplant-description {
            text-align: center;
            align-content: center;
            color: $green3;

            button {
                width: 150px;
                height: 50px;
                margin-top: 30px;
                background-color: $tea-green;

            }
        }

    }

    .snake-plant {
        background-image: url("/images/test.jpg");
        background-size: cover;
        background-position-y: 100%;
        height: 340px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: $mid;
        color: $green6;
        margin-bottom: $mid;


        button {
            width: 150px;
            height: 50px;
            margin-top: 30px;
            background-color: $tea-green;

        }
    }

    .pothos {
        height: 250px;
        display: flex;
        justify-content: space-between;

        border-radius: 20px;
        background-color: $tea-green;

        .pothos-background {
            background-image: url("/images/pothos-background.jpg");
            background-size: cover;
            border-radius: 20px;
            width: 49%;

        }

        .pothos-description {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 49%;
            color: $green3;
            background-color: $green4;
            border-radius: 20px;
            padding: $mid;

        }

        button {
            width: 150px;
            height: 50px;
            margin-top: 30px;
            background-color: $tea-green;

        }
    }
}

.shop-description {
    background-color: $tea-green;
    padding: 70px 200px;
    display: flex;
    color: $green6;
    align-items: center;

    .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    img {
        border-radius: 20px;
        width: 500px;
    }

}

footer {
    width: 100%;
    background-color: $green6;
    height: 365px;
    padding: 0 200px;
    color: $tea-green;

    .nav-footer {
        display: flex;
        align-items: center;
        
        justify-content: space-between;

        .logo {
            width: 100px;
            height: 100px;
        }

        nav {
            display: block;

            ul {
                list-style: none;
                display: flex;
                gap: 15px;
            }
        }

    }
    .final-description {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin: $xl 0;
        
        p {
            width: 560px;
            text-align: left;
           
        }
        .social {
            display: flex;
            gap: 15px;
        }
    }
}