@import "base";
@import "colours";
@import "typography";
@import "spacings";



.hero {
    border: 1px solid black;
    width: 1440px;
    height: 729px;
    background-color: red;
    background-image: url(/images/hero\ image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 600px;
    padding-left: 0px;
    background-position-x: 0%;
    background-position-y: 100%;
    color:#C2DBBAff; 

    .container {
        margin: 0 100px;
        
        header {
            display: flex;
            align-items: center;
            
            .logo {
                width: 100px;
                height: 100px;
            }
            .hamburger {
                display: none;
            }
            nav {
                display: block;
                ul {
                    list-style: none;
                    display: flex;
                    gap: 15px;
                }
            }
        }
    }






}